$color1: hsl(303, 10%, 53%);
$color2: hsl(300, 24%, 96%);
$color3: hsl(0, 0%, 100%);
$color4: hsl(300, 43%, 22%);
$color5: hsl(333, 80%, 67%);
$size: 15px;

@font-face {
  font-family: "league-spartan";
  src: url(/socialproofsection/asset/font/LeagueSpartan-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media (max-width: 1920px) {
  body {
    font-family: "league-spartan", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/socialproofsection/asset/images/bg-pattern-top-desktop.svg),
      url(/socialproofsection/asset/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 30%, 60%;
  }
}

@media (max-width: 767px) {
  body {
    font-family: "league-spartan", sans-serif;
    background: url(/socialproofsection/asset/images/bg-pattern-top-mobile.svg),
      url(/socialproofsection/asset/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 100%, 60%;
  }

  
}
